
.container{
    margin-top: 10%;
}
.graffic{
    max-height: 200px;
    margin: 4%;

}
tr{
      
    margin: 0 0.5rem;

    animation: slideInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
    
}

h1{
    font-family: 'Courier New', Courier, monospace;
    

    animation: flash; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 5s;
    
}

